
<div class="stamp_description">
  <% if @current_user.count > 0 %>
    <span class="stamp_description_main">現在<strong><%= @current_user.count %>個</strong>の労働スタンプが押されています！</span><br>
    <span class="stamp_description_sub">あなたは前回の労働で、<%= @work_msg %></span><br>
    <span class="stamp_description_sub"><%= @work_msg_sub %></span>
  <% else %>
    <span class="stamp_description_main">まだあなたは労働スタンプを押していません。</span><br>
    <span class="stamp_description_sub">スタンプを押して、労働のよろこびを共有しましょう！</span>
  <% end %>
</div>

<div class="stamp">
   <%= link_to '', '', :class => "stamp_image", data: {toggle: "modal", target: "#exampleModalCenter"} %>

  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <% @current_user.count += 1 %>
          <h5 class="modal-title" id="exampleModalLongTitle" style="font-size: 20px;">
            <strong><%= @current_user.count %>日目</strong>の労働お疲れ様です！</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body modal_block">
          <% if @current_user.count == 1 %>
            <p class="modal_main"><%= @work_state1 %></p><br>
            <%= image_tag("work_state1.png", class: 'modal_icon') %><br>
            <p class="modal_sub"><%= @work_state1_sub %></p>

          <% elsif @current_user.count == 2 %>
            <p class="modal_main"><%= @work_state2 %></p><br>
            <%= image_tag("work_state2.png", class: 'modal_icon') %><br>
            <p class="modal_sub"><%= @work_state2_sub %></p>

          <% elsif @current_user.count == 3 %>
            <p class="modal_main"><%= @work_state3 %></p><br>
            <%= image_tag("dummy.png", class: 'modal_icon') %><br>
            <p class="modal_sub"><%= @work_state3_sub %></p>

          <% elsif @current_user.count == 4 %>
            <p class="modal_main"><%= @work_state4 %></p><br>
            <%= image_tag("dummy.png", class: 'modal_icon') %><br>
            <p class="modal_sub"><%= @work_state4_sub %></p>

          <% elsif @current_user.count == 5 %>
            <p class="modal_main"><%= @work_state5 %></p><br>
            <%= image_tag("dummy.png", class: 'modal_icon') %><br>
            <p class="modal_sub"><%= @work_state5_sub %></p>

          <% elsif @current_user.count == 6 %>
            <p class="modal_main"><%= @work_state6 %></p><br>
            <%= image_tag("dummy.png", class: 'modal_icon') %><br>
            <p class="modal_sub"><%= @work_state6_sub %></p>

          <% elsif @current_user.count == 7 %>
            <p class="modal_main"><%= @work_state7 %></p><br>
            <%= image_tag("dummy.png", class: 'modal_icon') %><br>
            <p class="modal_sub"><%= @work_state7_sub %></p>

          <% else %>
            <p class="modal_main"><%= @work_state8_or_up %></p><br>
            <%= image_tag("dummy.png", class: 'modal_icon') %><br>
            <p class="modal_sub"><%= @work_state8_or_up_sub %></p>
          <% end %>
        </div>
        <div class="modal-footer">
          <%= link_to "確定", "/user/count", class: 'btn btn-primary', :method => :post  %>
        </div>
      </div>
    </div>
  </div>
</div>

<span class="stamp_push">今日も頑張った方は、スタンプを押してください</span>