<% if flash[:notice] %>
  <div class="notice lead text-center flash" style="font-size: small;">
    <%= flash[:notice]%>
  </div>
<% end %>
<div class="text-center">
    <!-- <h3 class="bg-info" style="padding: 5px;"><%= @current_user.name %></h3> -->
    <h3 class="about_title"><%= @current_user.name %></h3>
    <img src= "<%= @current_user.image %>" class="user_img" width="100" height="100">
    <div class="twitter_id text-center">
      <p>@<%= @current_user.twitter_id %></p>
    </div>
</div>
<div class="text-center">
  <h1><br></h1>
  <p class="font_forcus">
    労働スタンプは<%= @current_user.count %>回押されています。
  </p>
  <%= image_tag(@work_state_img, :size => '300x300') %>
  <% if @current_user.count > 0 %>
    <p style="font-size: 14px; margin:20px;">あなたは前回の労働で、<%= @work_msg %><br>
  <%= @work_msg_sub %></p>
  <% else %>
    <p>まだあなたは労働スタンプを押していません。<br>
    スタンプを押して、労働のよろこびを共有しましょう！</p>
  <% end %>
</div>

<div class="text-right">
  <button type="button" class="btn btn-info mypage_button" onclick="location.href=''" style="margin-bottom: 10px;">あなたのがんばりをシェア</button><br>
  <!-- 1.モーダルを表示する為のボタン -->
  <button class="btn btn-danger mypage_button" data-toggle="modal" data-target="#exampleModalCenter" style="margin-bottom: 40px;">
      労働日数をリセット
  </button>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">労働日数をリセットしますか？</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        この操作は取り消せません。<br>リセット後は、同期を倒すところからスタートします。
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
        <%= link_to "実行", "/user/reset", class: 'btn btn-danger', :method => :post %>
      </div>
    </div>
  </div>
</div>