<div class="row">
  <div class="col-sm-4 text-center">
    <h1><%= @current_user.name %></h1>
    <img src= "<%= @current_user.image %>" class="user_img" width="150" height="150">
    <p>ID:@<%= @current_user.twitter_id %></p>
  </div>
  <div class="col-sm-8 text-left">
    <div>
      <h1><br></h1>
    </div>
    <p class="font_forcus">
      あなたは出勤日数count:<%= @current_user.count %>日目です！
    </p>
      <p>
        昨日したこと: <%= @work_msg %><br>
        昨日したことサブ: <%= @work_msg_sub %>
      </p>
    </font>
  </div>
</div>
<div class="text-right">
  <button type="button" class="btn btn-info mypage_button" onclick="location.href=''">あなたのがんばりをシェア</button>
  <br>
  <button type="button" class="btn btn-danger mypage_button" onclick="location.href=''">リセット(労働日数をリセット)</button>
</div>

<%= link_to("リセットするやつ","/user/reset", :method => :post) %>