<!DOCTYPE html>
<html>
  <head>
    <title>Incrude</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="./assets/stylesheets/vendor/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/stylesheets/flat-ui.min.css" rel="stylesheet">
    <!--CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <!--JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>

  <header>
    <div class="text-left logo">
      <a href="/"><%= image_tag('incrudelogo.png', :size => '300x75') %></a>
  <% if session[:user_id] %>
    <div class="ui-slider-value">
      <button type="button" class="btn btn-danger pull-right page_button" onclick="location.href='/user/mypage'">@<%= @current_user.twitter_id %></button>
      <button type="button" class="btn btn-info pull-right page_button" onclick="location.href='/user/main'">スタンプを押す</button>
      <button type="button" class="btn btn-warning pull-right page_button" onclick="location.href='/user/signout'">サインアウト</button>
    </div>
  <% else %>
    <div class="ui-slider-value">
      <button type="button" class="btn btn-primary text-right" onclick="location.href='/auth/twitter'">Twitterでサインイン</button>
    </div>
  </div>
  <% end %>
    <div class="clear"></div>
  </header>

  <body>
<!-- ここからフラッシュメッセージ -->
  <% if flash[:notice] %>
    <div class="notice lead text-center flash">
      <%= flash[:notice]%>
    </div>
  <% end %>
<!-- ここまでフラッシュメッセージ -->
    <%= yield %>

  </body>

  <footer>
  <%= link_to("About us", "/about") %>
  <p class="text-center">
  <%= image_tag('twitter.png', :size => '24x24') %><!--
  <a href="https://www.google.com"><img src="twitter.png" alt="twitter_freeicon"></a>  -->
  </p>
  <div id="copy_light">
    <p class="text-center"><small>Yuto Tachibana, Kenki Seki &copy; 2018</small></p>
  </div>
  </footer>
</html>
