<!DOCTYPE html>
<html>
  <head>
    <title>Incrude</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <div>
      logo
    </div>
    <%= link_to("TOP", "/") %>
    <%= link_to("Twitterで登録", "/user/signup") %>
    <%= link_to("サインイン", "/user/signin") %>
    <%= link_to("@[username]", "/user/mypage") %>
    <%= link_to("スタンプを押す", "/user/main") %>
    <%= link_to("サインアウト", "/user/signout") %>
  </header>
  <body>
    <%= yield %>
  </body>
  <footer>
  <%= link_to("About us", "/about") %>
  <div id="copy_light">
    <p>Yuto Tachibana, Kenki Seki © 2018</p>
  </div>
  </footer>
</html>
