<!DOCTYPE html>
<html>
  <head>
    <title>Incrude</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="./assets/stylesheets/vendor/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/stylesheets/flat-ui.min.css" rel="stylesheet">
  </head>
  <header>
    <div class="text-right">
      logo
    </div>
    <button type="button" class="btn btn-danger text-right" onclick="location.href='/user/mypage'">@[username]</button>
    <button type="button" class="btn btn-info text-right" onclick="location.href='/user/main'">スタンプを押す</button>
    <div class="text-left">
      <button type="button" class="btn btn-primary text-right" onclick="location.href='/auth/twitter'">Twitterでサインイン</button>
      <button type="button" class="btn btn-warning" onclick="location.href='/user/signout'">サインアウト</button>
    </div>
  </header>
  <body>
    <%= yield %>
  </body>
  <footer>
  <%= link_to("About us", "/about") %>
  <p class="text-center">
  <%= image_tag('twitter.png', :size => '24x24') %><!-- 
  <a href="https://www.google.com"><img src="twitter.png" alt="twitter_freeicon"></a>  -->
  </p>
  <div id="copy_light">
    <p class="text-center"><small>Yuto Tachibana, Kenki Seki &copy; 2018</small></p>
  </div>
  </footer>
</html>
